@import url('https://rsms.me/inter/inter.css');
@import "./global/all.css";

html { font-family: 'Inter', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif }
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
    font-feature-settings: "ss01";
  }
}

@font-face {
  font-family: "Tiempos Headline Medium";
  src: url("../fonts/tiemposDispMed.woff2") format("woff2"),
    url("../fonts/tiemposDispMed.woff") format("woff"), format("opentype");
  font-style: normal;
  font-weight: 400;

}

.content-container {
  @apply max-w-screen-2xl mx-auto;
}


.bg-aave {
  background-image: linear-gradient(223deg, #AF52A0 0%, #2FB6C6 100%);
}

