@import url('https://rsms.me/inter/inter.css');
@import "./global/all.css";

:root { font-family: 'Inter', system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif }
@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'Inter var', sans-serif; 
    font-feature-settings: "ss01";
  }
}

@font-face {
  font-family: "Tiempos Headline Medium";
  src: url("../fonts/tiemposDispMed.woff2") format("woff2"),
    url("../fonts/tiemposDispMed.woff") format("woff"), format("opentype");
  font-style: normal;
  font-weight: 400;

}

.content-container {
  @apply max-w-screen-2xl mx-auto;
}

.divider::before {
  content: "";
  width: 50vw;
  height: 50vw;
  top: -50vw;
  @apply absolute rounded-full blur-3xl -translate-x-2/4 left-2/4 bg-purple-500/10;
}

.bg-aave {
  background-image: linear-gradient(223deg, #AF52A0 0%, #2FB6C6 100%);
  @apply rounded-3xl;
}

:focus:not(:focus-visible) {
  outline: none;
}

.content-enter {
  transform: translateY(20px) scale(0.95);
  @apply opacity-0;
}

.content-enter-to {
  transform: translateY(0px);
  @apply opacity-100;
}

.content-enter-active,
.content-leave-active {
  transition: all 0.4s ease-out 0.2s;
}

.fade-enter {
  @apply opacity-0;
}

.fade-enter-to {
  transform: translateY(0px);
  @apply opacity-100;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease-out 0.2s;
}


/* 
.layout-enter-active,
.layout-leave-active {
  transition: all 1s;
  opacity: 1;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
  transform: translateY(500px);
} */

